@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.home--title {
  background: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=974&q=80'),
    #d9d9d9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

